version: "3"
services:
  kpi_radio_bot:
    build: ./kpi_radio/
    ports:
      - 6000:6000
    volumes:
    - ./stuff:/stuff
    - /media/data/MUSIC/:/music
    - /etc/localtime:/etc/localtime:ro # sync time
    depends_on:
      - mopidy

  mopidy:
    build: ./mopidy/
    ports:
      - 6680:6680
    volumes:
      - /media/data/MUSIC/:/music
      - /tmp/pa:/tmp/pa
    environment:
      - PULSE_SERVER=unix:/tmp/pa/pulseaudio.socket
      - PULSE_COOKIE=/tmp/pa/pulseaudio.cookie
