<!DOCTYPE html>
<html>
<head>
<style type="text/css">
    body  {
  background: #eee !important;
}

.form_text {
  margin-bottom: 30;
  text-align: center;
}

.form_send {
  position: absolute;
  width: 40%;
  margin-left: 30%;
  padding: 15px 35px 35px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.progress {
  margin-top: 20px;
}

.btn {
  width: 90%;
  padding: 15px 35px 100px;
  margin: 5%;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.form-control {
    margin: 10;
}
</style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css">
    <link type="text/css" href="https://cdn.rawgit.com/toopay/bootstrap-markdown/master/css/bootstrap-markdown.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/css/jquery.emojiarea.css">
    <link rel="stylesheet" type="text/css" href="static/emoji/jquery.emojipicker.css">
    <link rel="stylesheet" type="text/css" href="static/emoji/jquery.emojipicker.g.css">
 <title>Admin Panel</title>

</head>
<body>
  <div class="alert alert-success hide fade in" id="success-alert">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
    <strong>Успешно!</strong>
  </div>

  <div class="form" id="send" style="display: block;">
    <form class="form_send" enctype='multipart/form-data' action="/sendmsg" method='post'>
        <h1 class="form_text">Отправка</h1>
        <div class="emojionepicker-picker" data-index="0"></div>
        <textarea class="form-control" rows="10" id="msg" name="msg" placeholder="Сообщение для отправки"></textarea>
        <input type="file" id="img" name="img" accept="image/*,video/mp4">
        <div class="progress hide" id="bar">
            <div class="progress-bar progress-bar-info" id="sent-bar"
                 role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:0%">
            </div>
        </div>
        <button type="sibmit" class="send_msg btn btn-success">Отправить</button>
    </form>
  </div>

<!-- End your code here -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.js"></script>
  <script src="https://rawgit.com/jeresig/jquery.hotkeys/master/jquery.hotkeys.js"></script>
  <script type="text/javascript" src="/static/js/bootstrap-markdown.js"></script>
  <script type="text/javascript" src="static/emoji/jquery.emojipicker.js"></script>
  <script type="text/javascript" src="static/emoji/jquery.emojis.js"></script>

<script>


$("div#sent-bar").hide();

$(window).resize(function(){
    $('#msg').css("width", $('.md-header').css("width"));

});

$('#msg').markdown({
    fullscreen: { enable: false },
    iconlibrary: "fa",
    hideSource: false,
    footer:'<div id="markdown-preview" class="markdown-preview" style="display:none;"></div>',
    onChange:function(e){
        var content = e.parseContent();
        if (content == '') {
            $('#markdown-preview').hide()
        } else {
            $('#markdown-preview').show().html(content)
        }


    },
    onShow: function () {
            $('button[data-handler*="bootstrap-markdown-cmdCode"]').remove();
            $('button[data-handler*="bootstrap-markdown-cmdHeading"]').remove();
            $('button[data-handler*="bootstrap-markdown-cmdImage"]').remove();
            $('button[data-handler*="bootstrap-markdown-cmdList"]').remove();
            $('button[data-handler*="bootstrap-markdown-cmdListO"]').remove();
            $('button[data-handler*="bootstrap-markdown-cmdQuote"]').remove();
            $('button[data-handler*="bootstrap-markdown-cmdPreview"]').remove();
            $('button[data-handler*="bootstrap-markdown-cmdUrl"]').css('margin-left', '10px');
            $(function(){
                $('#msg').emojiPicker();
            });
    }
});






$(document).ready(function () {
    $('.form').on('submit', function(e) {
        e.preventDefault();
        var formData = new FormData();
        formData.append("msg", $('#msg').val());
        formData.append("img", $('input#img')[0].files[0]);
        $.ajax({
          url: '/sendmsg',
          data: formData,
          type: 'POST',
          processData: false,
          cache: false,
          contentType: false,
          success: function(data){
              $("div#sent-bar").show();
              var id = setInterval(frame, 300);
              var width = 0;
              function frame() {
                    if (width >= 100) {
                        var bar = document.getElementById("sent-bar");
                        bar.innerHTML = "100%";
                        bar.style.width = '100%';
                        setTimeout('$("div#sent-bar").hide()', 2000);
                        clearInterval(id);
                    } else {
                        $.ajax({
                            type: 'POST',
                            url: '/getsent',
                            data: {
                                'id': data
                            },
                            success: function(count){
                                width = count;
                            }
                        });
                        var bar = document.getElementById("sent-bar");
                        bar.innerHTML = width + "%";
                        bar.style.width = width + '%';
                    }
               }
          },
          error: function() {
            alert("Поле сообщения не может быть пустым");
          }
        });
    });
});



</script>

</body>